.container {display: grid;
   justify-content: center;
   grid-template-columns: 150px 150px 335px 150px;
   grid-template-rows: 200px 200px 200px 200px;
   grid-auto-columns: 1fr;
   grid-auto-rows: 1fr;
   gap: 50px 50px;
   grid-auto-flow: row dense;
   grid-template-areas:
     "item1 item1 item2 item2"
     "item3 item4 item5 item7"
     "item6 item6 item5 item8"
     "item9 item10 item11 item11";
   height: 1440px;
   
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 30px;
 }
 .item {
   border: pink solid;
   background-size: cover;
 }

 .item1 {
   grid-area: item1; 
}
 
 .item2 {
   grid-area: item2;
   background-image:url(/img/Foto\ 1.png);
}
 
 .item3 {
   grid-area: item3;
   background-image:url(/img/Foto\ 2.png);
}
 
 .item4 {
   grid-area: item4;
   background-image:url(/img/Foto\ 3.png);

}
 
 .item5 {
   grid-area: item5;
   background-image:url(/img/Foto\ 4.png);
   width: 335px; 
  height: 448px; 
}
 
 .item6 {
   grid-area: item6;
   background-image:url(/img/Foto\ 5.png);
}
 
 .item7 {
   grid-area: item7;
   background-image:url(/img/Foto\ 6.png);
}
 
 .item8 {
   grid-area: item8;
   background-image:url(/img/Foto\ 7.png);
}
 
 .item9 {
   grid-area: item9;
   background-image:url(/img/Foto\ 8.png);
}
 
 .item10 {
   grid-area: item10;
   background-image:url(/img/Foto\ 9.png);
}
 
 .item11 {
   grid-area: item11;
   background-image:url(/img/Foto\ 10.png);
}
 